div(class="column", id= bot.name)
  table(class="table")
    tr
      th
        h2 #{bot.name}
    each user in users
      tr
        td(class="queue", id= user.name)
          table.userDisp
            tr
              td(rowspan=2)
                img(src= user.photo )
              td #{user.name}
            tr
              td #{user.location}