extends layout

block content
	- if (name)
		h1 Hello #{name}
	div.center
		each bot in bots
			div(class="column", id= bot.name)
				table(class="table")
					tr
						th
							h2 #{bot.name}
					each user in bot.queue
						tr
							td(class="queue", id= user.name)
								h3 #{user.name}
				button
					| Join Queue

	