extends layout

block content
	- if (name)
		h1 Hello #{name}
		div.center#commandCenter
			form(action='/submit', method='post', id="commandForm")
				Button(id="sendCommand")
					| Command!

	div.center
		div#queue
			include includes/queue

	