doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css')
		link(rel='stylesheet', href='/stylesheets/animate-custom.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		div.container
			div(class="navbar navbar-fixed-top")
				div(id="brand")
					a(class="noStyle", href="/") SwarmBots
				ul(class="nav pull-right")
					li
						a(href="http://swarmbots.github.com/")
							| Blog
					li
						a(href="http://swarmbots.github.com/team/")
							| Team
					li
						a(href="http://swarmbots.github.com/about/")
							| About
					- if (loggedin=="false")
						li
							a(href="/login/") Login
					- else 
						li
							a(href="/logout/") Logout
			div.container#main
				div.center
					<iframe width="720" height="437" src="http://www.ustream.tv/embed/13850487?v=3&amp;wmode=direct" scrolling="no" frameborder="0" style="border: 0px none transparent;"></iframe>
				block content